<ion-header no-border>

  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button (click)="goToHome()" ion-button icon-left clear small><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    </ion-buttons>
    <ion-buttons right>
      <button (click)="presentActionSheet()" ion-button icon-right clear small><ion-icon name="md-more"></ion-icon></button>
    </ion-buttons>
    <ion-title *ngFor="let note of notes | async">
    	{{note.noteTitle}}
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
	<ion-card padding *ngFor="let note of notes | async">
		<ion-item>
			<ion-input #updatedNoteTitle [value]="note.noteTitle" ></ion-input>
		</ion-item>
		<hr>
		<ion-item>
			<ion-textarea #updatedNote [value]="note.note" ></ion-textarea>
		</ion-item>		

		<ion-item>
			<button ion-button full (click)="updateNote(note.key,updatedNoteTitle.value,updatedNote.value)" color="dark">GO!</button>
		</ion-item>

	</ion-card>
</ion-content>
